*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: #0D1A2E;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    width: 375px;
    background-color: #14273F;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
}

.container{
    width: 325px;
}

.card-photo img{
    width: 100%;
    border-radius: 15px;
}

.container-product{
    padding: 25px 0 20px 0;
}

.container-product h1{
    font-size: 25px;
    margin-bottom: 15px;
}

.container-product p{
    font-size: 18px;
}

.text-white{
    color: #eaeef4;
}

.text-white:hover{
    color:  hsl(178, 100%, 50%);
}

.text-gray{
    color: #586F8D;
    font-weight: 300;
}

.container-detail{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #586F8D;
    padding-bottom: 25px;
}

.text-eth{
    color: hsl(178, 100%, 50%)
}

.text-clock{
    color: #586F8D;
    font-weight: 400;
}

.container-author{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top:25px;
}

.image-author{
    border: solid 1px #FFFFFF;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}